<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title>Pokëdu-Go! - A game-based learning with augmented reality</title>
<link rel="shortcut icon" type="image/png" href="/img/icons/pokeball.png"/>
<link rel="stylesheet" type="text/css" href="/css/semantic.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/js/semantic.min.js"></script>
<script type="text/javascript" src="/js/loadingoverlay.min.js"></script>
<script type="text/javascript" src="/js/howler.min.js"></script>