<!doctype html>
<html>
<head>
    {{> head this}}
</head>
<body class="bg-camp">
    <div class="pusher">
    {{{ body }}}
    </div>
    <script type="text/javascript">
        var sound1981 = new Howl({
            src: ['/sound/eightbt-1981.mp3'],
            autoplay: true,
            loop: true
        });
    </script>
    {{> script this}}
</body>
</html>