<!doctype html>
<html>
<head>
    {{> head this}}
</head>
<body>
    <div class="ui bottom fixed borderless secondary massive menu">
        <a class="ui item btn-profile" href="#">
            <img src="/img/icons/trainer.png" class="ui centered middle aligned mini image">
        </a>
        <!--h4 class="user-name"></h4-->
        <div class="right menu">
            <a class="item btn-sidebar" href="#sidebar">
                <img src="/img/icons/bag.png" class="ui centered middle aligned mini image">
            </a>
        </div>
    </div>
    <div class="ui bottom sidebar">
        <div class="ui three column grid bg-blue">
            <div class="column">
                <div class="ui basic padded segment">
                    <a href="/menu" class="ui tiny centered middle aligned image btn-items">
                        <img src="/img/icons/fight.png">
                        <div class="ui header">Play</div>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="ui basic padded segment">
                    <a href="/pokedux" class="ui tiny centered middle aligned image btn-pokedux">
                        <img src="/img/icons/pokedex2.png">
                        <div class="ui header">Pokedux</div>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="ui basic padded segment">
                    <a href="#ranks" class="ui tiny centered middle aligned image btn-eggs">
                        <img src="/img/icons/stars.png">
                        <div class="ui header">Ranks</div>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="ui basic padded segment">
                    <a href="#items" class="ui tiny centered middle aligned image">
                        <img src="/img/icons/paralyz.png">
                        <div class="ui header">Items</div>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="ui basic padded segment">
                    <a href="/help" class="ui tiny centered middle aligned image btn-medals">
                        <img src="/img/icons/direction.png">
                        <div class="ui header">Help</div>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="ui basic padded segment">
                    <a href="/" class="ui tiny centered middle aligned image btn-settings">
                        <img src="/img/icons/footsteps.png">
                        <div class="ui header">Exit</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="ui small modal mdl-profile">
        <i class="close icon"></i>
        <h2 class="ui header">
        <div class="content">
            Profile
        </div>
        </h2>
        <div class="content">
        <div class="ui two column grid">
            <div class="column">
            <div class="ui basic segment">
                <img src="/img/icons/trainer.png" class="ui small image">
            </div>
            </div>
            <div class="column">
                <div class="ui basic segment">
                    <div class="ui basic segment">
                        <h2 class="ui header">
                        Username
                        <div class="sub header"><p><span class="user-name"></span></p></div>
                        </h2>
                    </div>
                    <div class="ui basic segment">
                        <h2 class="ui header">
                        Score
                        <div class="sub header"><i class="blue diamond icon"></i><span class="pokedu-score">0</span></div>
                        </h2>
                    </div>
                    <div class="ui basic segment">
                        <h2 class="ui header">
                        Pokedux
                        <div class="sub header"><i class="yellow star icon"></i><span class="pokedu-total">0</span> pokedu collected</div>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="actions">
        <div class="ui approve green labeled icon button"><i class="checkmark icon"></i>OK</div>
        </div>
    </div>

    <div class="ui small modal mdl-credits">
        <i class="close icon"></i>
        <h2 class="ui header">
        <i class="registered icon"></i> 
        <div class="content">
            Credits
        </div>
        </h2>
        <div class="content">
        <ul>
            <li>Pokemon icons from roundicons.com</li>
            <li>Graphics from freepik.com</li>
        </ul>
        </div>
        <div class="actions">
        <div class="ui approve green labeled icon button"><i class="checkmark icon"></i>OH, OKEE</div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
        $('.ui.btn-profile').click(function (){
            $('.ui.modal.mdl-profile').modal('show');
            return false;
        });
        $('.ui.btn-credits').click(function (){
            $('.ui.modal.mdl-credits').modal('show');
            return false;
        });
        var username = localStorage.getItem('username');
        var userscore = localStorage.getItem('userscore');
        if (username) {
            $('.user-name').text(username);
        }
        if (userscore) {
            $('.user-score').text(userscore);
        }
        });
        var sound1981 = new Howl({
            src: ['/sound/eightbt-1981.mp3'],
            autoplay: true,
            loop: true
        });
    </script>
    <div class="pusher">
        {{{ body }}}
    </div>
  </div>
    {{> script this}}
</body>
</html>