<div class="ui vertical masthead center aligned segment">

  <div class="ui main container">
    <div class="ui basic very padded segment">
    <div class="ui one column grid">
      <div class="column">
        <a class="ui huge red labeled icon fluid button" href="/"><i class="reply icon"></i>BACK</a>
      </div>
      <div class="column">
        <a class="ui huge red labeled icon fluid button btn-about"><i class="spy icon"></i>ABOUT</a>
      </div>
      <div class="column">
        <a class="ui huge red labeled icon fluid button btn-credits"><i class="registered icon"></i>CREDITS</a>
      </div>
    </div>
    </div>
  </div>

  <div class="ui small modal mdl-about">
    <i class="close icon"></i>
    <h2 class="ui header">
      <i class="spy icon"></i> 
      <div class="content">
        About
      </div>
    </h2>
    <div class="content">
      <p>Pokëdu-Go is a game-based learning with augmented reality</p>
    </div>
    <div class="actions">
      <div class="ui approve green labeled icon button"><i class="checkmark icon"></i>OH, OKEE</div>
    </div>
  </div>

  <div class="ui small modal mdl-credits">
    <i class="close icon"></i>
    <h2 class="ui header">
      <i class="registered icon"></i> 
      <div class="content">
        Credits
      </div>
    </h2>
    <div class="content">
      <ul>
        <li>Pokemon icons from roundicons.com</li>
        <li>Graphics from freepik.com</li>
        <li>Sounds from freesound.org</li>
      </ul>
    </div>
    <div class="actions">
      <div class="ui approve green labeled icon button"><i class="checkmark icon"></i>OH, OKEE</div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function () {
      $('.ui.button.btn-about').click(function (){
        $('.ui.modal.mdl-about').modal('show');
      });
      $('.ui.button.btn-credits').click(function (){
        $('.ui.modal.mdl-credits').modal('show');
      });
    });
  </script>

</div>