<div class="ui vertical masthead center aligned segment">

  <div class="ui idx-title text container">
    <img class="ui centered tiny image" src="/img/icons/pokemon.png"/>
    <h1 class="ui header">
      <div class="content">
        Pokëdu-Go!
        <div class="sub header">Learning with augmented reality</div>
      </div>
    </h1>
  </div>

  <div class="ui main container">
    <div class="ui basic very padded segment">
    <div class="ui one column grid">
      <div class="column">
        <div class="ui basic segment">
        <a class="ui huge red labeled icon button" href="/menu"><i class="flag icon"></i>START</a>
        </div>
        <div class="ui basic segment">
        <a class="ui huge red labeled icon button" href="/help"><i class="life ring icon"></i>HELP</a>
        </div>
      </div>
    </div>
    </div>
  </div>

</div>