<div class="ui vertical masthead center aligned segment">

  <div class="ui main container">
    <div class="ui basic segment"><a href="/menu">
      <h2 class="ui dividing header reds">
        <div class="content">
          Pokëdu-Go!
          <div class="sub header">Learning<span class="ui small rounded label">French</span> with augmented reality</div>
        </div>
      </h2></a>
    </div>
    <div class="ui basic segment">
    
<div class="ui two cards">
    <div class="ui link card">
        <div class="content">
            <a href="/play" class="header btn-level">Level 1</a>
            <div class="meta">
            <span class="description">Animals</span>
            </div>
        </div>
        <div class="content">
        <a href="/play" class="ui tiny image btn-level">
            <img src="/img/icons/pokeball.png">
        </a>
        </div>
        <div class="extra content">
                <i class="yellow star icon"></i>
                <i class="yellow star icon"></i>
                <i class="disabled star icon"></i>
        </div>
        <div class="ui two bottom attached buttons">
            <div class="ui medium red button" data-inverted="" data-tooltip="Learn" data-position="bottom center">
            <i class="book icon"></i>
            </div>
            <a href="/play" class="ui medium red button" data-inverted="" data-tooltip="Play" data-position="bottom center">
            <i class="game icon"></i>
            </a>
        </div>
    </div>
    <div class="ui link card">
        <div class="content">
            <a href="#" class="header">Level 2</a>
            <div class="meta">
            <span class="description">Fruit &amp; Vegetables</span>
            </div>
        </div>
        <div class="content">
        <a href="#" class="ui tiny image">
            <img src="/img/icons/greatball.png">
        </a>
        </div>
        <div class="extra content">
                <i class="disabled star icon"></i>
                <i class="disabled star icon"></i>
                <i class="disabled star icon"></i>
        </div>
        <div class="ui bottom attached buttons">
            <div class="ui medium button">
            <i class="lock icon"></i>
            Locked
            </div>
        </div>
    </div>
    <div class="ui link card">
        <div class="content">
            <a href="#" class="header">Level 3</a>
            <div class="meta">
            <span class="description">Clothes</span>
            </div>
        </div>
        <div class="content">
        <a href="#" class="ui tiny image">
            <img src="/img/icons/ultraball.png">
        </a>
        </div>
        <div class="extra content">
                <i class="disabled star icon"></i>
                <i class="disabled star icon"></i>
                <i class="disabled star icon"></i>
        </div>
        <div class="ui bottom attached buttons">
            <div class="ui medium button">
            <i class="lock icon"></i>
            Locked
            </div>
        </div>
    </div>
    <div class="ui link card">
        <div class="content">
            <a href="#" class="header">Level 4</a>
            <div class="meta">
            <span class="description">Tools</span>
            </div>
        </div>
        <div class="content">
        <a href="#" class="ui tiny image">
            <img src="/img/icons/masterball.png">
        </a>
        </div>
        <div class="extra content">
                <i class="disabled star icon"></i>
                <i class="disabled star icon"></i>
                <i class="disabled star icon"></i>
        </div>
        <div class="ui bottom attached buttons btn-pilih">
            <div class="ui medium button">
            <i class="lock icon"></i>
            Locked
            </div>
        </div>
    </div>
</div>

    </div>
  </div>

</div>


<div class="ui small modal mdl-pilih">
  <div class="content align centered">
    <img class="ui align centered image small" src="/img/icons/psyduck.png">
  </div>
  <div class="actions align centered">
    <div class="ui approve orange labeled icon button"><i class="check circle icon"></i>MOUSE</div>
    <div class="ui approve teal labeled icon button" data-text="duck"><i class="check circle icon"></i>DUCK</div>
    <div class="ui approve pink labeled icon button"><i class="check circle icon"></i>ROOSTER</div>
  </div>
</div>