<div class="ui main container">
    <div class="ui basic padded segment">
        <div class="ui center aligned one column grid">
            <div class="column">
                <h3 class="ui left aligned dividing block header">
                    <i class="{{ pesan.icon }} icon"></i>
                    <div class="content">
                    {{ pesan.judul }}
                    <div class="sub header">{{ pesan.deskripsi }}</div>
                    </div>
                </h3>
            </div>
            <div class="column">
                <a class="ui huge red labeled icon fluid button" href="/"><i class="reply icon"></i>BACK</a>
            </div>
        </div>
    </div>
</div>