<div id="loader">
  <div class="ui active dimmer">
    <div class="ui text loader">Finding Pokedu Nearby</div>
  </div>
  <p></p>
</div>
<canvas id="debugCanvas"></canvas>
<div id="playerContainer"></div>
<script type="text/javascript" src="/js/stats.min.js"></script>
<script type="text/javascript" src="/js/awe.js/js/awe-v8.js"></script>
<script type="text/javascript" src="/js/awe.js/js/awe-loader.js"></script>
<script type="text/javascript">
//window.stats = new Stats();
//window.stats.showPanel( 0 ); // 0: fps, 1: ms, 2: mb, 3+: custom
//document.body.appendChild( window.stats.dom );

var soundcoin = new Howl({
    src: ['/sound/coin.mp3']
});
var soundwin1 = new Howl({
    src: ['/sound/win1.mp3']
});
var soundwin2 = new Howl({
    src: ['/sound/win2.mp3']
});
var soundwin3 = new Howl({
    src: ['/sound/win3.mp3']
});
var soundwakwaw = new Howl({
    src: ['/sound/wakwaw.mp3']
});
var soundfight = new Howl({
    src: ['/sound/tritus-fight.mp3']
});
var soundoutro = new Howl({
    src: ['/sound/eightbt-outro.mp3'],
    autoplay: true,
    loop: true
});
sound1981.stop();
soundoutro.play();

var pokemaps = {
  1:   ['bulbasaur',  ['Gato',    'Chat',     'Cat',      'Kat'],         'Chat',  '<img src="/img/animals/cat.png" class="ui image">'],
  4:   ['charmander', ['Olsean',  'Bird',     'Vogel',    'Pajaro'],      'Olsean',  '<img src="/img/animals/bird.png" class="ui image">'],
  7:   ['squirtle',   ['Duck',    'Eend',     'Pato',     'Canard'],      'Canard',  '<img src="/img/animals/duck.png" class="ui image">'],
  10:  ['caterpie',   ['Vis',     'Pescado',  'Poisson',  'Fish'],        'Poisson',  '<img src="/img/animals/fish.png" class="ui image">'],
  13:  ['weedle',     ['Leon',    'Lion',     'Lion',     'Leeuw'],       'Lion',  '<img src="/img/animals/lion.png" class="ui image">'],
  16:  ['pidgey',     ['Vache',   'Cow',      'Koe',      'Vaca'],        'Vache',  '<img src="/img/animals/cow.png" class="ui image">'],
  19:  ['rattata',    ['Frog',    'Kikker',   'Rana',     'Greenouille'], 'Greenouille',  '<img src="/img/animals/frog.png" class="ui image">'],
  25:  ['pikachu',    ['Schapen', 'Oveja',    'Mouton',   'Sheep'],       'Mouton',  '<img src="/img/animals/sheep.png" class="ui image">'],
  39:  ['jigglypuff', ['Mono',    'Sange',    'Monkey',   'Aap'],         'Sange',  '<img src="/img/animals/monkey.png" class="ui image">'],
  41:  ['zubat',      ['Serpent', 'Snake',    'Slang',    'Serpiente'],   'Serpent',  '<img src="/img/animals/snake.png" class="ui image">'],
  48:  ['venonat',    ['Bunny',   'Konijn',   'Conejito', 'Lapin'],       'Lapin',  '<img src="/img/animals/bunny.png" class="ui image">'],
  52:  ['meowth',     ['Oufant',  'Elefante', 'Elephant', 'Elefant'],     'Elephant',  '<img src="/img/animals/elephant.png" class="ui image">'],
  54:  ['psyduck',    ['Perro',   'Chien',    'Dog',      'Hond'],        'Chien',  '<img src="/img/animals/dog.png" class="ui image">'],
  56:  ['mankey',     ['Tiger',   'Tigere',   'Tijger',   'Tigre'],       'Tiger',  '<img src="/img/animals/tiger.png" class="ui image">'],
  63:  ['abra',       ['Ant',     'Mier',     'Hormiga',  'Fourmi'],      'Fourmi',  '<img src="/img/animals/ant.png" class="ui image">'],
  69:  ['bellsprout', ['Bij',     'Abeja',    'Abielle',  'Bee'],         'Abielle',  '<img src="/img/animals/bee.png" class="ui image">']
};

var isQuizActive = false;
var waktu = 0;
var gilir = setInterval(function () {
  //console.log('tes');
  //awe.pois.update({data:{visible:false},where:{id:'jsartoolkit_marker_4'}});
  waktu++
}, 20000);

function openQuiz(pokenum){
  if (!isQuizActive) {
    isQuizActive = true;
    pokenum = pokenum || 1;
    soundcoin.play();
    var pos = {x:0,y:0,z:0};
    var pokemap = pokemaps[pokenum];
    var pokename = pokemap[0];
    var pilihan = pokemap[1];
    var jawaban = pokemap[2];
    var pertanyaan = pokemap[3];
    $('.pokedu-quest').html(pertanyaan);
    $('.pokedu-ans1').text(pilihan[0]);
    $('.pokedu-ans2').text(pilihan[1]);
    $('.pokedu-ans3').text(pilihan[2]);
    $('.pokedu-ans4').text(pilihan[3]);
    awe.projections.update({
        data:{
            animation: {
                duration: 1,
                easing: 'CircularInOut',
                persist: 0,
                onComplete : function () {
                  $('.mdl-pilih').modal({
                      closable    : false,
                      onApprove   : function (el) {
                          var dipilih = $(el).text();
                          if (dipilih == jawaban) {
                            localStorage.setItem('score', parseInt(localStorage.getItem('score')) + 40);
                            localStorage.setItem('pokedu'+pokenum, true);
                            var poketot = 0;
                            for (var i in pokemaps) {
                              if (localStorage.getItem('pokedu'+i)) {
                                poketot++;
                              }
                            }
                            $('.pokedu-total').text(poketot);
                            $('.pokedu-catch').text(pokename);
                            $('.pokedu-catch-img').attr('src', '/img/icons/'+pokename+'.png');
                            $('.pokedu-score').text(localStorage.getItem('score'));
                            $('.mdl-benar').modal({
                              onApprove   : function () {
                                soundoutro.play();
                              }
                            }).modal('show');
                            soundwin3.play();
                          } else {
                            localStorage.setItem('score', parseInt(localStorage.getItem('score')) - 10);
                            $('.pokedu-score').text(localStorage.getItem('score'));
                            $('.mdl-salah').modal({
                              onApprove   : function () {
                                soundoutro.play();
                              }
                            }).modal('show');
                            soundwakwaw.play();
                          }
                          soundfight.stop();
                          isQuizActive = false;
                      }
                  }).modal('show');
                  soundoutro.stop();
                  soundfight.play();
                }
            },
            position:{ y: pos.y, x: pos.x, z: pos.z },
            scale: { x: 0.1, y: 0.1, z:0.1}
        },
        where:{ id:'pokeball' }
    });
  }
}

//   DEBUG = true;
  window.addEventListener('load', function() {
    window.awe.init({
      device_type: awe.AUTO_DETECT_DEVICE_TYPE,
      settings: {
        container_id: 'playerContainer',
        default_camera_position: { x:0, y:0, z:0 },
        default_camera_index: 1
      },
      ready: function() {
        var d = '?_='+Date.now();
        
        awe.util.require([
          {
            capabilities: ['gum','webgl'],
            files: [ 
              // base libraries
              [ '/js/awe.js/js/awe-standard-dependencies.js', '/js/awe.js/js/awe-standard.js'+d],
              // plugin dependencies
              ['/js/awe.js/js/plugins/awe-jsartoolkit-dependencies.js','/js/awe.js/js/plugins/awe-standard-object_clicked.js','/js/awe.js/js/plugins/StereoEffect.js', '/js/awe.js/js/plugins/VREffect.js'],
              // plugins
              ['/js/awe.js/js/plugins/awe.marker_ar.js'+d,'/js/awe.js/js/plugins/awe.rendering_effects.js'+d]
            ],
            success: function() { 

              awe.setup_scene();              
              awe.settings.update({data:{value: 'ar'}, where:{id: 'view_mode'}});

              for(var i in pokemaps) {
                awe.pois.add({ id:'jsartoolkit_marker_'+i, position: { x:0, y:0, z:0 }, visible: false });
                awe.projections.add({ 
                  id:'char_'+i, 
                  geometry: { shape: 'plane', width: 100, height: 100}, 
                  position: { x: 200, y:200, z:0 },
                  rotation: { x: 180, y:0, z:0 },
                  material:{ type: 'phong', color: 0xFFFFFF, transparent:true },
                  //material: { fog:false, transparent: true },
                  texture: { path: '/img/icons/'+pokemaps[i][0]+'.png' },
                  visible: true
                }, { poi_id: 'jsartoolkit_marker_'+i });
                //console.log(pokemaps[i][1]);
              }
              
              awe.pois.add({id: 'poi_bola', position: { x:0, y:0, z:0 }, visible: true});
              awe.projections.add({
                id: 'pokeball',
                geometry: { path : '/3d/poke.obj'}, // shape: 'plane', width: 100, height: 100},
                position: {x: 0, y:-200, z:-500},
                material: { path : '/3d/poke.mtl', fog:true, transparent: true },
                visible: true,
                rotation: { x: 150, y:10, z:180 },
                scale: {x: 2, y: 2, z: 2},
                cast_shadow: false,
                receive_shadow: false,
                //texture: { path: '/img/icons/pokeball.png'}
              }, {poi_id: 'poi_bola'});

              awe.events.add([{
                id: 'ar_tracking_marker',
                device_types: {
                  pc: 1,
                  android: 1
                },
                register: function(handler) {
                  window.addEventListener('ar_tracking_marker', handler, false);
                },
                unregister: function(handler) {
                  window.removeEventListener('ar_tracking_marker', handler, false);
                },
                handler: function(event) {
                  var poiIds = [];
                  var hidmarks = [
                    [    4,  7,  10,       16,  19,       39,       48,            56,  63],
                    [1,      7,  10,  13,  16,       25,  39,  41,  48,  52,       56],
                    [    4,      10,  13,  16,  19,       39,            52,  54,  56,  63],
                    [1,  4,  7,       13,       19,  25,  39,  41,       52,  54,       63,  69],
                    [1,      7,       13,  16,       25,  39,            52,       56,       69],
                    [    4,  7,  10,       16,  19,  25,       41,            54,  56,  63]
                  ];
                  var giliran = waktu % 6;
                  for(var i in hidmarks[giliran]) {
                    poiIds.push('jsartoolkit_marker_' + hidmarks[giliran][i]);
                  }
                  awe.pois.update({data:{visible:false},where:{id:poiIds}});
                  //console.log(event.detail);
                }
              }, {
                id: 'object_clicked',
                device_types: {
                  pc: 1,
                  android: 1
                },
                register: function(handler) {
                  window.addEventListener('object_clicked', handler, false);
                },
                unregister: function(handler) {
                  window.removeEventListener('object_clicked', handler, false);
                },
                handler: function(e) {
                  if (e.detail.projection_id == 'pokeball') {
                    var vis = awe.projections.list({ type:'clickable' });
                    if(vis[0] && vis[0].projection_id.match(/char_\w+/)) {
                      var char = /char_(\w+)/.exec(vis[0].projection_id);
                      openQuiz(char[1]);
                    }
                  }
                }
              }]);

              awe.plugins.view('render_effects').enable();
              awe.plugins.view('jsartoolkit').enable();
              awe.plugins.view('object_clicked').enable();
              $('#loader').hide();
            }
          },
          {
            capabilities: [],
            success: function() { 
              document.body.innerHTML = '<p>Try this demo in the latest version of Chrome or Firefox on a PC or Android device</p>';
            }
          }
        ]);
      }
    });
  });
</script>

<div class="ui small modal mdl-pilih">
  <div class="pokedu-quest content align centered">
    <img class="pokedu-quest-img ui align centered image small" src="/img/icons/rattata.png">
  </div>
  <div class="actions align centered">
    <div class="pokedu-ans1 ui approve red button" data-pil="1"></div>
    <div class="pokedu-ans2 ui approve red button" data-pil="2"></div>
    <div class="pokedu-ans3 ui approve red button" data-pil="3"></div>
    <div class="pokedu-ans4 ui approve red button" data-pil="4"></div>
  </div>
</div>

<div class="ui small modal mdl-benar">
  <div class="content align centered">
    <img class="pokedu-catch-img ui align centered image small" src="/img/icons/stars.png">
    <h2>Gotcha! <span class="pokedu-catch ui huge label"></span></h2>
  </div>
  <div class="actions align centered">
    <div class="ui approve red labeled icon button"><i class="sign in icon"></i>Add to Pokedux</div>
  </div>
</div>

<div class="ui small modal mdl-salah">
  <div class="content align centered">
    <img class="ui align centered image small" src="/img/icons/storm.png">
    <h2>Tetot! Please try again..</h2>
  </div>
  <div class="actions align centered">
    <div class="ui approve red labeled icon button"><i class="checkmark icon"></i>Okay</div>
  </div>
</div>