<div class="ui main container">
    <div class="ui basic segment">
    <h2 class="ui header">
      <img src="/img/icons/pokedex.png" class="ui image"/>
      <div class="content">
        Pokedux
        <div class="sub header">Pokedu collected: <span class="pokedu-total">0</span></div>
      </div>
    </h2>
    </div>
    <div class="ui basic padded segment">
        <div class="ui center aligned four column grid">
            <div class="column">
                <img src="/img/icons/pokegg.png" class="pokedu1-img ui centered circular bordered image"/>
                <h5 class="pokedu1-name ui red circular label">??</h5>
            </div>
            <div class="column">
                <img src="/img/icons/pokegg.png" class="pokedu4-img ui centered circular bordered image"/>
                <h5 class="pokedu4-name ui red circular label">??</h5>
            </div>
            <div class="column">
                <img src="/img/icons/pokegg.png" class="pokedu7-img ui centered circular bordered image"/>
                <h5 class="pokedu7-name ui red circular label">??</h5>
            </div>
            <div class="column">
                <img src="/img/icons/pokegg.png" class="pokedu10-img ui centered circular bordered image"/>
                <h5 class="pokedu10-name ui red circular label">??</h5>
            </div>
            <div class="column">
                <img src="/img/icons/pokegg.png" class="pokedu13-img ui centered circular bordered image"/>
                <h5 class="pokedu13-name ui red circular label">??</h5>
            </div>
            <div class="column">
                <img src="/img/icons/pokegg.png" class="pokedu16-img ui centered circular bordered image"/>
                <h5 class="pokedu16-name ui red circular label">??</h5>
            </div>
            <div class="column">
                <img src="/img/icons/pokegg.png" class="pokedu19-img ui centered circular bordered image"/>
                <h5 class="pokedu19-name ui red circular label">??</h5>
            </div>
            <div class="column">
                <img src="/img/icons/pokegg.png" class="pokedu25-img ui centered circular bordered image"/>
                <h5 class="pokedu25-name ui red circular label">??</h5>
            </div>
            <div class="column">
                <img src="/img/icons/pokegg.png" class="pokedu39-img ui centered circular bordered image"/>
                <h5 class="pokedu39-name ui red circular label">??</h5>
            </div>
            <div class="column">
                <img src="/img/icons/pokegg.png" class="pokedu41-img ui centered circular bordered image"/>
                <h5 class="pokedu41-name ui red circular label">??</h5>
            </div>
            <div class="column">
                <img src="/img/icons/pokegg.png" class="pokedu48-img ui centered circular bordered image"/>
                <h5 class="pokedu48-name ui red circular label">??</h5>
            </div>
            <div class="column">
                <img src="/img/icons/pokegg.png" class="pokedu52-img ui centered circular bordered image"/>
                <h5 class="pokedu52-name ui red circular label">??</h5>
            </div>
            <div class="column">
                <img src="/img/icons/pokegg.png" class="pokedu54-img ui centered circular bordered image"/>
                <h5 class="pokedu54-name ui red circular label">??</h5>
            </div>
            <div class="column">
                <img src="/img/icons/pokegg.png" class="pokedu56-img ui centered circular bordered image"/>
                <h5 class="pokedu56-name ui red circular label">??</h5>
            </div>
            <div class="column">
                <img src="/img/icons/pokegg.png" class="pokedu63-img ui centered circular bordered image"/>
                <h5 class="pokedu15-name ui red circular label">??</h5>
            </div>
            <div class="column">
                <img src="/img/icons/pokegg.png" class="pokedu69-img ui centered circular bordered image"/>
                <h5 class="pokedu69-name ui red circular label">??</h5>
            </div>
        </div>
    </div>
</div>