<div class="ui main container">
    <div class="ui basic padded segment">
        <div class="ui one column grid">
            <div class="column">
                <h2 class="ui header">
                <i class="add user icon"></i>
                <div class="content">
                    Username
                    <div class="sub header">Create your new username</div>
                </div>
                </h2>
                <div class="ui massive form">
                    <div class="field">
                    <input id="user-add" placeholder="username123" type="text">
                    </div>
                </div>
            </div>
            <div class="column">
                <a id="add-user" class="ui huge red labeled icon fluid button" href="#"><i class="save icon"></i>SAVE</a>
            </div>
        </div>
    </div>
</div>

<div class="ui small modal mdl-invalid">
  <div class="content align centered">
    <h2>Input not valid</h2>
  </div>
  <div class="actions align centered">
    <div class="ui approve green labeled icon button"><i class="checkmark icon"></i>OK</div>
  </div>
</div>

<script type="text/javascript">
    var saved = localStorage.getItem('username');
    if (saved) {
        $('#user-add').val(saved);
    }
    $('#add-user').click(function () {
        var username = $('#user-add').val();
        if (username) {
            localStorage.setItem('username', username);
        } else {
            $('.mdl-invalid').modal('show');
        }
        location = '/';
        return false;
    });
</script>