@font-face {
    font-family: Mikado;
    src: url("/fonts/mikado.otf") format("opentype");
}

@font-face {
    font-family: 'Mikado Bold';
    src: url("/fonts/mikadobold.ttf") format("truetype");
}


/* Mobile */
@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile) {
    display: none !important;
  }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet) {
    display: none !important;
  }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) {
  [class*="mobile only"]:not(.computer),
  [class*="tablet only"]:not(.computer),
  [class*="computer hidden"] {
    display: none !important;
  }
}

body,
body.pushable {
  background: #92e2fd url('/img/image10.png') no-repeat center bottom !important;
}

body.pushable > .pusher {
  background: none;
}

body.bg-camp {
  background-image: url('/img/image10.png');
  background-repeat: no-repeat;
  background-position: center bottom;
}

.bg-blue {
  background-color: #72a2cd;
}

.ui.idx-title {
    padding: 2em 0 0;
}

.ui.header,
.ui.huge.button {
    font-family: 'Mikado Bold',Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
}

h1.ui.header,
h2.ui.header.reds {
    font-size: 3.5rem;
    color: #DB2828;
    text-shadow: 0 1px 0 white;
    margin: 0;
}

h2.ui.header.reds {
  font-size: 2rem;
}

.ui.grid>.column:not(.row) {
  padding-bottom: 0;
}

.ui.main.container {
  max-width: 480px !important;
}